/* Personalización de la barra de desplazamiento (Scrollbar) */

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #d1d5db transparent; 
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 6px; 
  height: 6px; 
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d1d5db; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #9ca3af; 
}